{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "@components": "./components",
            "@styles": "./styles",
            "@public": "./public"
          }
        }
      ]
    ],
    "env": {
      "production": {
        "plugins": ["transform-remove-console"]
      }
    }
  }